.pp_overlay {
  background: black;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}

.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}

.pp_top {
  height: 20px;
  position: relative;

  .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }

  .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
  }

  .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}

.pp_content {
  height: 40px;
  min-width: 40px;
}

.pp_fade {
  display: none;
}

.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;

  .pp_left {
    padding-left: 20px;
  }

  .pp_right {
    padding-right: 20px;
  }

  .pp_details {
    float: left;
    margin: 10px 0 2px 0;
  }
}

.pp_description {
  display: none;
  margin: 0;
}

.pp_social {
  float: left;
  margin: 0;

  .facebook {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 55px;
  }
}

.pp_social .twitter {
  float: left;
}

.pp_nav {
  clear: right;
  float: left;
  margin: 3px 10px 0 0;

  p {
    float: left;
    margin: 2px 4px;
    white-space: nowrap;
  }

  .pp_play, .pp_pause {
    float: left;
    margin-right: 4px;
    text-indent: -10000px;
  }
}

.pp_arrow_previous,
.pp_arrow_next {
  display: block;
  float: left;
  height: 15px;
  margin-top: 3px;
  overflow: hidden;
  text-indent: -10000px;
  width: 14px;
}

.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.pp_gallery {
  display: none;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;

  div {
    float: left;
    overflow: hidden;
    position: relative;
  }

  ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;

    a {
      border: 1px black solid;
      border: 1px rgba(0, 0, 0, 0.5) solid;
      display: block;
      float: left;
      height: 33px;
      overflow: hidden;

      img {
        border: 0;
      }

      &:hover {
        border-color: white;
      }
    }
  }

  li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;

    &.selected a {
      border-color: white;
    }

    &.default a {
      background: inline-image('layout/prettyPhoto/dark_square/default_thumbnail.gif') 0 0 no-repeat;
      display: block;
      height: 33px;
      width: 50px;

      img {
        display: none;
      }
    }
  }

  .pp_arrow_previous, .pp_arrow_next {
    margin-top: 7px !important;
  }
}

.pp_next {
  background: inline-image('layout/prettyPhoto/dark_square/btnNext.png') 10000px 10000px no-repeat;
  display: block;
  float: right;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}

.pp_previous {
  background: inline-image('layout/prettyPhoto/dark_square/btnNext.png') 10000px 10000px no-repeat;
  display: block;
  float: left;
  height: 100%;
  text-indent: -10000px;
  width: 49%;
}

.pp_expand, .pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}

.pp_close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
}

.pp_bottom {
  height: 20px;
  position: relative;

  .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }

  .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
  }

  .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}

.pp_loaderIcon {
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}

#pp_full_res {
  line-height: 1 !important;

  .pp_inline {
    text-align: left;

    p {
      margin: 0 0 15px 0;
    }
  }
}

.ppt {
  display: none !important;
}

.dark_square {
  .pp_left, .pp_middle, .pp_right, .pp_content {
    background: black;
  }

  .currentTextHolder {
    color: #c4c4c4;
  }

  .pp_description {
    color: white;
  }

  .pp_loaderIcon {
    background: inline-image('layout/prettyPhoto/dark_square/loader.gif') center center no-repeat;
  }

  .pp_expand {
    background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -31px -26px no-repeat;
    cursor: pointer;

    &:hover {
      background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -31px -47px no-repeat;
      cursor: pointer;
    }
  }

  .pp_contract {
    background: inline-image('layout/prettyPhoto/dark_square/sprite.png') 0 -26px no-repeat;
    cursor: pointer;

    &:hover {
      background: inline-image('layout/prettyPhoto/dark_square/sprite.png') 0 -47px no-repeat;
      cursor: pointer;
    }
  }

  .pp_close {
    background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -1px -1px no-repeat;
    cursor: pointer;
    height: 22px;
    width: 75px;
  }

  .pp_details {
    position: relative;
  }

  .pp_description {
    margin: 0 85px 0 0;
  }

  #pp_full_res .pp_inline {
    color: white;
  }

  .pp_gallery a.pp_arrow_previous, .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
  }

  .pp_nav {
    clear: none;

    .pp_play {
      background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -1px -100px no-repeat;
      height: 15px;
      width: 14px;
    }

    .pp_pause {
      background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -24px -100px no-repeat;
      height: 15px;
      width: 14px;
    }
  }

  .pp_arrow_previous {
    background: inline-image('layout/prettyPhoto/dark_square/sprite.png') 0 -71px no-repeat;

    &.disabled {
      background-position: 0 -87px;
      cursor: default;
    }
  }

  .pp_arrow_next {
    background: inline-image('layout/prettyPhoto/dark_square/sprite.png') -22px -71px no-repeat;

    &.disabled {
      background-position: -22px -87px;
      cursor: default;
    }
  }

  .pp_next:hover {
    background: inline-image('layout/prettyPhoto/dark_square/btnNext.png') center right no-repeat;
    cursor: pointer;
  }

  .pp_previous:hover {
    background: inline-image('layout/prettyPhoto/dark_square/btnPrevious.png') center left no-repeat;
    cursor: pointer;
  }
}
