$background_html: image-url('layout/grunge.png');
$background_body: image-url('layout/broken_noise.png');

$color_accent: #bb61f8;
$color_accent_dark: darken($color_accent, 15%);
$color_body: #bbb;
$color_code: #5f5f5f;
$color_header: #ddd;
$color_subtle: #333;
$color_subtle_dark: #0b0b0b;

$font_body: normal normal normal 80%/165% 'Droid Sans', Arial, Helvetica, sans-serif;
$font_code: 145% monospace;
$font_header: 175% 'Broken 15', Arial, Helvetica, sans-serif;
$font_nav: 200% 'Broken 15', Arial, Helvetica, sans-serif;
